body {
    display: contents;
    height: 100%;
    width: 100%;
}

#mapid {
    height: 100vh;
}

:root {
    --mdc-theme-primary: #202124 !important;
}

.mdc-list-item--activated, .material-icons.mdc-list-item__graphic {
    color: #D32F2F !important;
}

.mdc-top-app-bar--short .mdc-top-app-bar__row {
    margin-top: 15px;
    padding-right: 49px;
}